<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LMS.Properties.Settings>
            <setting name="ConnectionStr" serializeAs="String">
                <value>Data Source=DESKTOP-P6DU1C5;Initial Catalog=MytestDB;User ID=sa;Password=wjdgkscjf97!;Connect Timeout=30</value>
            </setting>
        </LMS.Properties.Settings>
    </userSettings>
</configuration>