<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Service.Properties.Settings.ConnectionStr" connectionString="Data Source=DESKTOP-P6DU1C5;Initial Catalog=MytestDB;User ID=sa;Password=wjdgkscjf97!;Connect Timeout=30"
            providerName="" />
    </connectionStrings>
</configuration>